# Node.js
node_modules/
npm-debug.log
yarn-error.log
.env
.env.local
.env.*.local

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IDE
.idea/
.vscode/
*.code-workspace

# Database
*.sql.backup
*.db

# OS
Thumbs.db
.DS_Store
